.container {
    width: 100%;
    height: 100%;
    padding: 1% 2%;
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    height: 20%;
    padding: 1%;
    border-bottom: .5px solid #191919;
    margin-bottom: 1%;
    display: flex;
    justify-content: space-between;
}

.roomInfo {
    width: 40%;
    height: 100%;
}

.heading {
    font-weight: 900;
    color: #e4e4e4;
    font-size: 3rem;
}

.subHeading {
    color: #c5c5c5;
}

.roomButtonCard {
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2.5px;
    border-radius: 10px;
}

.roomCard {
    width: 45%;
    height: 60%;
    padding: 7%;
    background-color: #313030;
    color: white;
    border-radius: 10px;
    border: 1px solid rgb(65, 65, 65);
}

.roomViewInfo {
    width: 25%;
    padding: .5%;
    display: flex;
    justify-content: space-between;
    background-color: #1c1c1c;
    border-radius: 10px;
}

.viewInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.viewTitle,
.viewerCount,
.activeMember {
    font-size: 1.5rem;
    color: #f2eaff;
    font-weight: 600;
}

.viewerCount,
.activeMember {
    font-weight: 800;
}

.activeMember {
    color: rgb(220, 182, 255);

}

.viewerCount {
    color: rgb(117, 255, 117);
}

.scrollWrapper {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-right: 1%;
}

.roomMemberWrapper {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2%;
    align-items: stretch;
    overflow: auto;
    padding-top: 1%;
    padding-bottom: 5%;
}

.roomMemberInfo {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 5%;
    background-color: rebeccapurple;
}

.manangeMember {
    font-size: 1.5rem;
    color: #f2eaff;
    font-weight: 600;
}

.card {
    width: 100.5%;
    margin-bottom: 2%;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    transition: transform 0.2s;
    position: relative;
    border: 1px solid #b1b1b1;
}

.card:hover {
    transform: translateY(-1%);
    box-shadow: inset 0 0 0 8px rgba(0, 0, 0, 0.05);
}

.cardContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.roomMemberName {
    font-size: 1rem;
    font-weight: 700;
    color: #111827;
}

.email {
    font-size: 0.875rem;
    font-weight: 700;
    color: #6b7280;
}

.role {
    font-size: 1rem;
    font-weight: 700;
    color: #6b7280;
}

.loader {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

.endMessage {
    width: 100%;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    color: #6b7280;
}