.container {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 30%;
    height: 70%;
    border-radius: 16px;
}

.formWrapper {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    border: 1px solid rgb(69, 69, 69);
    background-color: #222222;
    color: rgb(222, 222, 222);
    border-radius: 16px;
    padding: 3%;
    gap: 5%;
}

.forumIcon {
    font-size: 3rem;
    border-radius: 16px;
    border: 1px solid rgb(69, 69, 69);
    padding: 1%;
    border-radius: 10px;
    color: #C0C1FF;
    background-color: #323232;
}

.fieldIcon {
    font-size: 2rem;
    padding: 1%;
    color: rgb(96, 96, 96);
}

.topWrapper {
    width: 70%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1%;
}

.fieldBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttonBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title,
.description {
    text-align: center;
}

.title {
    font-size: 3rem;
    font-weight: 700;
}

.description {
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(150, 150, 150);
}

.form {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
}

.field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 80%;
    border-radius: 16px;
}

.textField {
    border: 1px solid rgb(165, 165, 165);
    padding: 1%;
    border-radius: 16px;
    color: white;
    gap: 10px;
}

.error {
    color: red;
    font-size: 12px;
    margin-top: 1%;
    font-weight: 500;
}

.button {
    padding: 3%;
    margin-top: 2%;
    border-radius: 16px;
    width: 80%;
    background-color: #C0C1FF;
    color: #2F2EBE;
    font-weight: 900;
}


.button:hover {
    box-shadow: 0 5px 0 .5px #dbe8ffa9;
}

.divider {
    margin: 4% 0;
    font-weight: 500;
}

.providerLoginBox {
    width: 80%;
    border-radius: 10px;
    background-color: #171717;
    color: rgb(255, 255, 255);
    font-weight: 700;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    padding: 3%;
    text-transform: none;
    border: 1px solid rgb(69, 69, 69);
    transition: all ease .5s;
}

.providerLoginBox:hover {
    transform: scale(1.05);
}

.providerLoginBox:nth-child(1) {
    width: 20%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    margin-right: auto;
}

.bottomButtonBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.bottomButton {
    font-weight: 700;
    width: 50%;
    color: rgb(162, 162, 162);
}

.bottomButton:hover {
    color: rgb(230, 230, 230);
}