.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #070707;
}

.topContainer {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.title,
.subTitle {
  text-align: center;
}

.title {
  font-size: 3rem;
  font-weight: 700;
}

.subTitle {
  font-size: 1.2rem;
  font-weight: 500;
  color: rgb(223, 223, 223);
}

.bottomContainer {
  width: 100%;
  height: 60%;
}

.field {
  width: 100%;
  border-radius: 16px;
}

.textField {
  background: rgb(24, 24, 24);
  width: 50%;
  border: 1px solid rgb(48, 48, 48);
  border-radius: 16px;
  color: white;
}

.optionContainer {
  width: 100%;
  height: 10%;
  background: rgb(0, 0, 0);
}

.scrollWrapper {
  width: 100%;
  height: 90%;
  overflow: auto;
}

.roomWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2%;
  align-items: stretch;
  overflow: auto;
  padding-top: 1%;
  padding-bottom: 5%;
}

.card {
  width: 20.5%;
  margin-bottom: 2%;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  gap: 2%;
  flex-direction: column;
  background: rgb(17, 17, 17);
  transition: transform 0.2s;
  border: 1px solid #484848;
}

.card:hover {
  transform: translateY(-1%);
  box-shadow: inset 0 0 0 8px rgba(0, 0, 0, 0.05);
}

.cardContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.roomName {
  font-size: 1.5rem;
  font-weight: 700;
  color: #c1c1c1;
}

.description {
  font-size: 0.875rem;
  color: #6a6a6a;
}

.cardButtonBox {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.joinButton {
  width: 100%;
  font-weight: 700;
  color: #2F2EBE;
  background-color: #bbbdff;
  padding: 10px;
  border-radius: 20px;
}

.joinButton:disabled {
  color: #2F2EBE;
}

.viewButton {
  width: 100%;
  font-weight: 700;
  color: #ffffff;
  padding: 10px;
  background: rgb(17, 17, 17);
  border-radius: 20px;
  border: 1px solid rgb(80, 80, 80);
}

.loader {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 2%;
  padding-bottom: 2%;
}

.endMessage {
  width: 100%;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
  color: #6b7280;
}